.todo-container {
  max-width: 550px;
  min-width: 230px;
  background: #fff;
  margin: 130px auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-input {
  position: relative;
  margin: 0;
  width: calc(100% - 32px);
  font-size: 24px;
  line-height: 1.4em;
  padding: 16px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo-items {
  list-style: none;
  padding: 0;
}

.todo-item {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.todo-item:hover .todo-item__close {
  display: block;
}

.todo-item__header {
  width: 100%;
  display: flex;
  align-items: center;
}

.todo-item__check {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
}

.todo-item__check__icon {
  position: relative;
  top: 13px;
  left: 13px;
  color: green;
}

.todo-item__label {
  font-size: 24px;
  line-height: 1.2;
  padding: 15px 15px 15px 60px;
  transition: color 0.4s;
  word-break: break-all;
}

.todo-item__label__completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-item__edit__input {
  font-size: 24px;
  line-height: 1.2;
  padding: 16px;
  width: 100%;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.todo-item__close {
  display: none;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.todo-item__close::after {
  content: '×';
}
